.slide {
  height: 100vh;
  width: 100vw; }

.slide1 {
  background: url("http://du9yuz2ex8zdk.cloudfront.net/IMG_0751.jpg") center no-repeat;
  background-size: cover; }

.slide2 {
  background: url("http://du9yuz2ex8zdk.cloudfront.net/IMG_1095.jpg") center no-repeat;
  background-size: cover; }

.slide3 {
  background: url("http://du9yuz2ex8zdk.cloudfront.net/IMG_1659.jpg") center no-repeat;
  background-size: cover; }
