html {
  overflow-x: hidden; }

#cart {
  width: 100vw;
  margin: 0 auto; }
  #cart > * {
    position: relative;
    top: 10vh; }
  #cart td {
    padding: 1% 0; }
  #cart hr {
    width: 79vw;
    background-color: black; }
  #cart .show-desktop {
    display: block; }
  #cart .show-mobile {
    display: none; }
  #cart .body {
    border-bottom: 1px solid black; }
  #cart #cart-meta {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    margin-top: 2vh;
    margin-left: 5vw;
    text-align: center; }
  #cart #cart-table {
    width: fit-content;
    height: 60vh;
    margin: 0 auto;
    padding-right: 2vw;
    overflow-y: scroll; }
    #cart #cart-table #table-header {
      background-color: lightgray;
      border: 1px solid lightgray; }
      #cart #cart-table #table-header th {
        padding: 5px; }
  #cart #quantity-input {
    width: 3vw; }
  #cart #price-section {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  #cart #delete-icon {
    display: flex;
    justify-content: space-evenly; }
    #cart #delete-icon #delete {
      color: red;
      margin-top: 5%; }
    #cart #delete-icon span {
      color: gray;
      margin-top: 5%;
      font-size: 1vw; }
  #cart #total-price {
    margin-top: 1%;
    width: 85vw;
    text-align: end;
    font-weight: bold; }
  #cart #checkout-button {
    margin-left: 75%;
    padding: 1%;
    width: 10%;
    background-color: lightcoral;
    line-height: 1.25em;
    border: 1px solid black; }
  @media only screen and (max-width: 450px) {
    #cart html {
      overflow-x: hidden; }
    #cart hr {
      width: 90%; }
    #cart .show-desktop {
      display: none; }
    #cart .show-mobile {
      display: block; }
    #cart #cart-meta {
      width: fit-content;
      margin: 3% auto 0 auto; }
    #cart #cart-item-entry {
      width: 90vw;
      height: 40vh;
      display: flex;
      justify-content: space-between;
      padding: 2% 0; }
    #cart #cart-items {
      height: 60vh;
      overflow-y: scroll;
      overflow-x: hidden; }
    #cart #price-section {
      height: 40vh; }
      #cart #price-section p {
        font-size: 3.5vw; }
      #cart #price-section #delete-icon {
        position: relative;
        bottom: 5%; }
        #cart #price-section #delete-icon span {
          color: gray;
          font-size: 2.5vw; }
    #cart #checkout-button {
      width: fit-content;
      margin-left: 61.5%; } }
