#checkout {
  background-color: #f4f4f4;
  width: 100vw;
  height: 108vh; }
  #checkout > * {
    position: relative;
    top: 12vh; }
  #checkout #main-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    #checkout #main-container .hidden {
      display: none;
      transition: all 300ms linear; }
    #checkout #main-container #checkout-info {
      width: 40%;
      height: 90vh; }
      #checkout #main-container #checkout-info .section {
        margin-bottom: 5%; }
        #checkout #main-container #checkout-info .section * {
          margin: 0; }
        #checkout #main-container #checkout-info .section label {
          font-size: 0.85em; }
        #checkout #main-container #checkout-info .section input {
          font-size: 0.85em;
          outline: none; }
          #checkout #main-container #checkout-info .section input:focus {
            border: 2.5px solid lightblue; }
        #checkout #main-container #checkout-info .section .radio-input {
          height: 10px; }
      #checkout #main-container #checkout-info .section-title {
        font-weight: bold;
        margin-bottom: 2%; }
      #checkout #main-container #checkout-info .attribute-title {
        margin-left: 1%;
        font-size: 0.85em; }
      #checkout #main-container #checkout-info .icon {
        margin-left: 3%; }
      #checkout #main-container #checkout-info .input {
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid lightgray;
        width: 100%; }
      #checkout #main-container #checkout-info #payment-popup-div {
        display: flex; }
      #checkout #main-container #checkout-info .warning {
        color: #0ca4f3;
        font-size: 0.85em; }
      #checkout #main-container #checkout-info .radio-option {
        margin-top: 2%; }
      #checkout #main-container #checkout-info #city-info {
        display: flex;
        justify-content: space-between; }
        #checkout #main-container #checkout-info #city-info input {
          width: 100%; }
      #checkout #main-container #checkout-info #order-button {
        box-sizing: border-box;
        margin-bottom: 3%;
        width: 100%;
        background-color: #22dd77;
        border: darkgreen;
        color: white;
        height: 2em; }
    #checkout #main-container #order-info {
      margin-top: 5.5%;
      box-sizing: border-box;
      width: 40%;
      height: fit-content;
      border: 1px solid lightgray;
      border-radius: 1px;
      background-color: white; }
      #checkout #main-container #order-info hr {
        width: 90%; }
      #checkout #main-container #order-info .section-title {
        font-weight: bold;
        margin: 5% 0 5% 5%; }
      #checkout #main-container #order-info .item-div {
        margin-left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between; }
        #checkout #main-container #order-info .item-div p {
          font-weight: bold;
          font-size: 0.8em; }
        #checkout #main-container #order-info .item-div .item-meta {
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          #checkout #main-container #order-info .item-div .item-meta .item-title {
            font-weight: bold;
            font-size: 0.9em;
            margin-bottom: 2%; }
          #checkout #main-container #order-info .item-div .item-meta .item-desc {
            font-size: 0.75em;
            color: gray;
            margin-bottom: 2%; }
      #checkout #main-container #order-info #total-price-div *:not(hr) {
        text-align: end;
        margin-right: 5%; }
      #checkout #main-container #order-info #total-price-div hr {
        width: 100%; }
      #checkout #main-container #order-info #total-price-div #order-total {
        font-size: 0.85em;
        margin-bottom: 1.5%; }
      #checkout #main-container #order-info #total-price-div #shipping-cost {
        font-size: 0.75em;
        margin-bottom: 1.5%; }
  @media only screen and (max-width: 580px) {
    #checkout #main-container {
      width: 100%;
      justify-content: space-evenly; }
      #checkout #main-container #checkout-info {
        width: 45%; }
      #checkout #main-container #order-info {
        width: 40%; }
        #checkout #main-container #order-info .item-div p {
          font-size: 0.6em; }
        #checkout #main-container #order-info .item-div .item-meta .item-title {
          font-size: 0.7em; }
        #checkout #main-container #order-info .item-div .item-meta .item-desc {
          font-size: 0.55em; }
        #checkout #main-container #order-info #total-price-div #order-total {
          font-size: 0.75em;
          margin-bottom: 1.5%; }
        #checkout #main-container #order-info #total-price-div #shipping-cost {
          font-size: 0.6em;
          margin-bottom: 1.5%; }
        #checkout #main-container #order-info #total-price-div #total-price {
          font-size: 0.8em; } }
