#edit-input {
  margin: 0%; }
  #edit-input .toggle-button {
    background: none;
    border: none;
    text-decoration: underline;
    outline: none; }
  #edit-input #input-value {
    background: none;
    line-height: 2em;
    border: 1px solid gray;
    border-radius: 10px; }
