#info-panel {
  position: relative;
  background-color: white;
  height: 50vh;
  width: 100%; }
  #info-panel .section {
    margin-left: 2.5%;
    margin-bottom: 3%; }
  #info-panel .section-title {
    font-weight: bold;
    font-size: 1.15em; }
  #info-panel .attribute {
    margin-top: 3%; }
    #info-panel .attribute * {
      margin: 0.5% 0; }
    #info-panel .attribute p,
    #info-panel .attribute button {
      font-size: 0.85em;
      font-weight: 450; }
    #info-panel .attribute .attribute-title {
      font-weight: bold;
      font-size: 1em; }
  #info-panel #page-title {
    margin: 1% 0% 0% 4%;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif; }
  #info-panel #password-button {
    background: none;
    border: none;
    text-decoration: underline;
    outline: none; }
  #info-panel #edit-input {
    margin: 0%; }
