#likes {
  width: 100vw;
  margin: 0 auto; }
  #likes > * {
    position: relative;
    top: 10vh; }
  #likes td {
    padding: 1% 0; }
  #likes hr {
    width: 79vw;
    background-color: black; }
  #likes .body {
    border-bottom: 1px solid black; }
  #likes #likes-meta {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    margin-top: 2vh;
    margin-left: 5vw;
    text-align: center; }
  #likes #likes-item-entry {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 2% 0; }
  #likes #likes-items {
    margin: 0 auto;
    margin-bottom: 5%;
    height: fit-content;
    width: 70%; }
  #likes #price-section {
    margin-right: 15%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  #likes #delete-icon {
    display: flex;
    justify-content: space-evenly; }
    #likes #delete-icon * {
      margin-right: 15%; }
    #likes #delete-icon #delete {
      color: red;
      margin-top: 5%; }
    #likes #delete-icon span {
      color: gray;
      margin-top: 5%;
      font-size: 1vw; }
  #likes #total-price {
    margin-top: 1%;
    width: 85vw;
    text-align: end;
    font-weight: bold; }
  @media only screen and (max-width: 450px) {
    #likes html {
      overflow-x: hidden; }
    #likes hr {
      width: 90%; }
    #likes .show-desktop {
      display: none; }
    #likes .show-mobile {
      display: none; }
    #likes #likes-item-entry {
      box-sizing: border-box;
      width: 90vw;
      height: 40vh;
      display: flex;
      justify-content: space-between;
      padding: 2% 0; }
    #likes #likes-items {
      height: fit-content;
      width: 90vw; }
    #likes #likes-meta {
      width: fit-content;
      margin: 3% auto 0 auto; }
    #likes #price-section {
      height: 35vh;
      margin-right: 5%; }
      #likes #price-section p {
        font-size: 3.5vw; }
      #likes #price-section #delete-icon {
        position: relative;
        bottom: 5%; }
        #likes #price-section #delete-icon * {
          margin-right: 15%; }
        #likes #price-section #delete-icon span {
          color: gray;
          font-size: 2.5vw; }
    #likes #checkout-button {
      width: fit-content;
      margin-left: 61.5%; } }
