#register-component #register-header {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 1%; }

#register-component #register-form-container {
  position: relative;
  top: 12.5vh;
  margin: 0 auto;
  background-color: white;
  width: 35%;
  height: 85%;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  overflow: auto; }
  #register-component #register-form-container #form-title {
    text-align: center;
    margin-top: 5%; }

#register-component label {
  font-weight: 500; }

#register-component .register-form-group {
  text-align: center;
  margin: 0 auto;
  margin-top: 8%;
  width: 70%;
  font-size: large; }

#register-component .btn {
  margin-left: 35%;
  width: 30%;
  margin-top: 8%;
  margin-bottom: 5%; }

#register-component #sign-up-label {
  margin: 0 auto;
  margin-top: 3%;
  font-size: 13.5px;
  width: fit-content; }

#register-component #sign-up-link {
  color: #1976d2;
  cursor: pointer; }
  #register-component #sign-up-link:hover {
    text-decoration: underline; }

@media only screen and (max-width: 450px) {
  #register-component #register-form-container {
    position: relative;
    width: 85%;
    top: 20vh; } }
