#user-profile {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw; }
  #user-profile > * {
    position: relative;
    top: 13vh; }
  #user-profile #main-panels {
    margin-left: 2%;
    height: 90%;
    width: 100%;
    display: flex; }
    #user-profile #main-panels #options-panel {
      height: 100%;
      width: 15%; }
      #user-profile #main-panels #options-panel #user-meta {
        margin-right: 8%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #user-profile #main-panels #options-panel #user-meta > * {
          margin: 0%; }
        #user-profile #main-panels #options-panel #user-meta #user-logo {
          height: 5vw;
          width: 5vw;
          border-radius: 100%;
          margin: 0%;
          padding: 5%;
          background-color: black;
          color: white;
          font-weight: bold;
          font-size: 2.5vw;
          text-align: center; }
        #user-profile #main-panels #options-panel #user-meta #meta-title {
          font-weight: bold;
          font-size: 2vw; }
      #user-profile #main-panels #options-panel #option-categories > * {
        height: 9vh;
        display: flex;
        align-items: center;
        cursor: pointer; }
      #user-profile #main-panels #options-panel #option-categories .icon {
        margin-left: 2%; }
      #user-profile #main-panels #options-panel #option-categories .selected-option {
        background-color: #333333; }
        #user-profile #main-panels #options-panel #option-categories .selected-option p,
        #user-profile #main-panels #options-panel #option-categories .selected-option .icon {
          color: white; }
      #user-profile #main-panels #options-panel #option-categories #info-security {
        justify-content: start; }
        #user-profile #main-panels #options-panel #option-categories #info-security p {
          font-size: 1.25vw;
          margin: auto 0;
          margin-left: 4%; }
      #user-profile #main-panels #options-panel #option-categories #shipping-info {
        justify-content: start; }
        #user-profile #main-panels #options-panel #option-categories #shipping-info p {
          font-size: 1.25vw;
          margin: auto 0;
          margin-left: 3%; }
    #user-profile #main-panels #info-panel {
      height: fit-content;
      width: 70%; }
  @media only screen and (max-width: 450px) {
    #user-profile #main-panels {
      height: 80%;
      width: 100%; }
      #user-profile #main-panels #options-panel {
        width: 30%; }
        #user-profile #main-panels #options-panel #meta-sub {
          font-size: 0.8em; }
        #user-profile #main-panels #options-panel #user-meta #user-logo {
          height: 8vw;
          width: 8vw;
          font-size: 4.25vw; }
        #user-profile #main-panels #options-panel #user-meta #meta-title {
          font-size: 4vw; }
        #user-profile #main-panels #options-panel #option-categories #info-security p {
          margin-left: 7%;
          font-size: 2.5vw; }
        #user-profile #main-panels #options-panel #option-categories #shipping-info p {
          margin-left: 7%;
          font-size: 2.5vw; }
      #user-profile #main-panels #info-panel {
        width: 65%; } }
