html {
	overflow-x: hidden;
}
#cart {
	/* width */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f4f4f4;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: lightgray;
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #bcbcbc;
	}

	& > * {
		position: relative;
		top: 10vh;
	}
	width: 100vw;
	margin: 0 auto;

	td {
		padding: 1% 0;
	}

	hr {
		width: 79vw;
		background-color: black;
	}
	.show-desktop {
		display: block;
	}
	.show-mobile {
		display: none;
	}
	.body {
		border-bottom: 1px solid black;
	}
	#cart-meta {
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		width: 20vw;
		height: fit-content;
		margin-top: 2vh;
		margin-left: 5vw;
		text-align: center;
	}

	#cart-table {
		box-sizing: border-box;
		width: fit-content;
		height: 60vh;
		margin: 0 auto;
		padding-right: 10px;
		overflow-y: scroll;

		#cart-item {
			width: 50vw;
		}

		#table-header {
			th {
				padding: 5px;
			}

			background-color: lightgray;
			border: 1px solid lightgray;
		}
	}
	#quantity-input {
		width: 3vw;
	}

	#price-section {
		height: 42.5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#delete-icon {
		display: flex;
		justify-content: space-evenly;
		#delete {
			color: red;
			margin-top: 5%;
			cursor: pointer;
		}
		span {
			color: gray;
			margin-top: 5%;
			font-size: 13px;
		}
	}
	#total-price {
		margin-top: 1%;
		width: 85vw;
		text-align: end;
		font-weight: bold;
	}
	#checkout-button {
		box-sizing: border-box;
		margin-left: 75%;
		/* padding: 1%;
		width: fit-content;
		background-color: lightcoral;
		line-height: 1.25em;
		border: 1px solid black; */
	}

	@media only screen and (max-width: 750px) {
		#price-section {
			height: 27.5vh;
			p {
				font-size: 14px;
			}
		}
	}
	@media only screen and (max-width: 500px) {
		html {
			overflow-x: hidden;
		}
		hr {
			width: 90%;
		}
		.show-desktop {
			display: none;
		}

		.show-mobile {
			display: block;
		}

		#cart-meta {
			width: fit-content;
			margin: 3% auto 0 auto;
		}

		#cart-item-entry {
			box-sizing: border-box;
			width: 90vw;
			height: fit-content;
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		}

		#cart-items {
			height: 60vh;
			width: 95vw;
			margin: 0 auto;
			overflow-y: scroll;
			overflow-x: hidden;
		}

		#price-section {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: fit-content;

			p {
				font-size: 3.5vw;
			}

			#delete-icon {
				position: relative;
				bottom: 5%;
				span {
					color: gray;
					font-size: 2.5vw;
				}
			}
		}
		#checkout-button {
			width: fit-content;
			margin-left: 60%;
		}
	}
}
