#cart-item {
	height: 300px;
	width: 40vw;
	display: flex;
	justify-content: flex-start;

	img {
		width: 200px;
		height: 300px;
		margin-right: 7.5%;
	}

	.show-mobile {
		display: none;
	}
	#item-meta {
		width: 100%;
		display: flex;
		flex-direction: column;
		#title {
			font-weight: bold;
			font-size: 16px;
		}
		#size-section {
			display: flex;

			p {
				margin: auto 0;
				margin-right: 15px;
			}
		}
		#quantity-section {
			display: none;
			margin-bottom: 10%;

			p {
				margin: auto 0;
				margin-right: 15px;
			}
			input {
				width: 7.5vw;
			}
		}
	}
}
@media only screen and (max-width: 750px) {
	#cart-item {
		justify-content: start;
		height: 100%;
		width: 100%;

		img {
			height: 200px;
			width: 150px;
		}
		#item-meta {
			font-size: 12px;
			width: fit-content;
			#quantity-section {
				display: flex;
			}
			#title {
				font-weight: bold;
				font-size: 14px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.show-mobile {
		display: block;
	}

	#cart-item {
		justify-content: start;
		height: 100%;
		width: 100%;

		img {
			margin: 0 5% 0 1%;
			height: 95%;
			width: 50%;
		}
		#item-meta {
			font-size: 3vw;
			width: fit-content;
			#quantity-section {
				display: flex;
			}
			#title {
				font-weight: bold;
				font-size: 3.25vw;
			}
		}
	}
}
