.collapsed {
	max-width: 900px !important;
}
#collapsable-item {
	width: fit-content;
	max-width: 450px;
	overflow: hidden;
	height: 600px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid lightgrey;
	border-radius: 10px;
	transition: max-width 200ms linear;
	margin-bottom: 50px;
	.item-title {
		cursor: pointer;
		height: 100%;
		width: fit-content;

		img {
			width: 450px;
			height: 600px;
		}
	}

	.collapsable-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 980px) {
	#collapsable-item {
	}
}

@media only screen and (max-width: 450px) {
	.collapsed {
		max-height: 1100px !important;
	}
	#collapsable-item {
		max-height: 500px;
		overflow: hidden;
		width: 90vw !important;
		height: fit-content;
		margin: 0 auto;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		border: 1px solid lightgrey;
		border-radius: 10px;
		transition: max-height 200ms linear;
		margin-bottom: 50px;

		.item-title {
			img {
				width: 90vw;
				height: 500px;
			}
		}
	}
}
