.collapsed {
	max-width: 900px !important;
}
#collapsable-item {
	width: fit-content;
	max-width: 450px;
	overflow: hidden;
	height: 650px;
	box-sizing: border-box;
	display: flex;
	border: 1px solid lightgrey;
	border-radius: 10px;
	transition: max-width 200ms linear;
	margin-bottom: 50px;
	.item-title {
		cursor: pointer;
		height: 100%;
		width: fit-content;

		img {
			width: 450px;
			height: 650px;
		}
	}

	.collapsable-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 980px) {
	.collapsed {
		max-height: 1300px !important;
	}
	#collapsable-item {
		max-height: 650px;
		overflow: hidden;
		height: fit-content;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		border: 1px solid lightgrey;
		border-radius: 10px;
		transition: max-height 200ms linear;
		margin-bottom: 50px;
	}

	@media only screen and (max-width: 500px) {
		#collapsable-item {
			padding: 0%;
			width: 90vw !important;
			margin: 0 auto;
		}
		.item-title {
			img {
				width: 90vw;
				height: 60vw;
			}
		}
	}
}
