#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	height: 10vh;
	align-self: center;
	z-index: 2;
	overflow: visible;

	a {
		color: black;
		height: fit-content;
		width: fit-content;
	}

	.dropdown-button {
		width: fit-content;
		height: fit-content;
		border: none;
		outline: none;
		background-color: transparent;
	}

	.my-dropdown-item {
		width: 90%;
		margin: 0% 12.5%;
		border: none;
		background-color: transparent;
		text-decoration: none;

		&:hover {
			background-color: #f4f4f4;
		}
	}

	.leftside,
	.rightside {
		display: flex;
		align-items: center;
		height: 100%;
		width: fit-content;
	}

	.leftside {
		margin-left: 1.5vw;
	}

	.rightside {
		margin-right: 2.5vw;
		justify-content: space-evenly;
		* {
			margin: 0 0.5vw;
		}
	}

	.icon,
	.toggle {
		font-size: 2em;
	}
	.icon {
		border: none;
		background: none;
		cursor: pointer;
		outline: none;
		transition: all 200ms linear;
		padding: 0;
	}
	.icon:not(#heart):hover {
		color: blue;
	}

	.toggle {
		outline: none;
		z-index: 10;
	}
	#logo {
		height: 75px;
		width: 200px;
		margin-top: 2.5px;
		background: url('http://du9yuz2ex8zdk.cloudfront.net/logo-white.png') center no-repeat;
		background-size: cover;
		transition: all 300ms 50ms ease-out;
	}

	#heart:hover {
		color: red;
	}

	@media only screen and (max-width: 380px) {
		.toggle,
		.icon {
			font-size: 1.5em;
		}
	}

	@media only screen and (max-width: 340px) {
		#logo {
			height: 100px;
			width: 175px;
		}
	}
}
