#item-list {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	#item-list {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
}
