#item-profile {
	#body {
		width: 85vw;
		margin: 0 auto;
		margin-top: 2%;
		position: relative;
		top: 10vh;
		.flex {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			height: 80vh;

			#profile-image {
				height: 100%;
				//     width: 35%;
				margin-left: 15%;
				margin-right: 5%;
			}
			#product-info-body {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				height: 100%;
				width: 50%;

				& > * {
					margin: 1.5% 0;
				}

				#ratings {
					display: flex;
					justify-content: space-between;
					width: 60%;

					#stars {
						display: inline-block;
						.star {
							color: gold;
						}
					}
				}
				#price {
					color: red;
					font-weight: bold;
				}
				#size {
					display: flex;

					#size-select {
						margin: 0 5%;
						border: 1px solid lightgray;
						outline: none;
						padding: 1.75%;
						font-weight: bold;
						background-color: #f0f0f0;
					}
				}
				#options {
					margin-top: 11.5%;
					display: flex;
					justify-content: space-between;
					height: 50%;

					button {
						border: none;
						color: white;
						background-color: black;
						font-size: 1.5vw;
						font-weight: bold;
						height: 25%;
						width: 40%;
					}

					#icon-div {
						display: flex;
						justify-content: flex-start;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 450px) {
		#body {
			width: 100vw;
			margin: 0 auto;
			height: fit-content;

			.flex {
				display: flex;
				flex-direction: column;

				align-items: center;
				height: fit-content;

				#profile-image {
					margin: 0 auto;
					width: 85vw;
					height: 50vh;
				}

				#product-info-body {
					text-align: center;
					width: 100vw;

					h2 {
						font-size: 2em;
					}
					h3 {
						font-size: 1.5em;
					}
					h4 {
						font-size: 1em;
					}

					#ratings {
						width: 80%;
						margin: 0 auto;
						.star {
							font-size: 1.25em;
						}
					}
					#size {
						width: 80%;
						margin: 0 auto;
						margin-top: 5%;
						h4 {
							position: relative;
							top: 0.75vh;
						}
					}
					#options {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;

						button {
							margin-bottom: 4%;
							height: 7vh;
							width: 50vw;
							font-size: 1.35em;
							font-weight: normal;
						}
						#icon-div {
							width: 100%;
							justify-content: center;
							* {
								margin: 0 2%;
							}
							h4 {
								position: relative;
								top: 0.5vh;
								font-size: 1.05em;
							}
						}
					}
				}
			}
		}
	}
}
