$hyperlink-color: #1976d2;

#login-component {
	#login-header {
		text-align: center;
		margin: 0 auto;
		position: relative;
		top: 3%;
	}

	#login-form-container {
		position: relative;
		top: 20vh;
		margin: 0 auto;
		background-color: white;
		width: 35%;
		height: 65%;
		box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
		overflow: auto;

		#form-title {
			margin-top: 5%;
			text-align: center;
		}
	}

	label {
		font-weight: 500;
	}

	.form-group {
		text-align: center;
		margin: 0 auto;
		margin-top: 8%;
		width: 70%;
		font-size: large;
	}

	.register-form-group {
		text-align: center;
		margin: 0 auto;
		margin-top: 8%;
		width: 70%;
		font-size: large;
	}
	.btn {
		margin-left: 35%;
		width: 30%;
		margin-top: 8%;
		margin-bottom: 5%;
	}

	#sign-up-label {
		margin: 0 auto;
		margin-top: 3%;
		font-size: 13.5px;

		width: fit-content;
	}

	#sign-up-link {
		color: $hyperlink-color;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	@media only screen and (max-width: 450px) {
		#login-form-container {
			position: relative;
			width: 85%;
			top: 17.5vh;
		}
	}
}
