#personalized {
	background-color: #f4f4f4;
	#main {
		position: relative;
		top: 10vh;
		width: 80vw;
		margin: 0 auto;

		.custom-item-section {
			.item-caption {
				font-weight: bold;
				font-size: 1.2em;

				margin-bottom: 0%;
			}
		}
	}
}
