$blackBorder: 1px solid black;

#user-profile {
	& > * {
		position: relative;
		top: 13vh;
	}
	background-color: #f4f4f4;
	height: 100vh;
	width: 100vw;

	#main-panels {
		margin-left: 2%;
		height: 90%;
		width: 100%;
		display: flex;

		#options-panel {
			height: 100%;
			width: 15%;

			#user-meta {
				margin-right: 8%;
				& > * {
					margin: 0%;
				}

				display: flex;
				flex-direction: column;
				align-items: center;

				#user-logo {
					box-sizing: border-box;
					height: 5vw;
					width: 5vw;
					border-radius: 100%;
					margin: 0%;
					padding: 5%;
					background-color: black;
					color: white;
					font-weight: bold;
					font-size: 2.5vw;
					text-align: center;
				}

				#meta-title {
					font-weight: bold;
					font-size: 1.5vw;
				}
			}

			#option-categories {
				& > * {
					height: 9vh;
					display: flex;
					align-items: center;
					cursor: pointer;
				}

				.icon {
					margin-left: 2%;
				}
				.selected-option {
					p,
					.icon {
						color: white;
					}

					background-color: #333333;
				}
				#info-security {
					justify-content: start;
					p {
						font-size: 1.25vw;
						margin: auto 0;
						margin-left: 4%;
					}
				}
				#shipping-info {
					justify-content: start;
					p {
						font-size: 1.25vw;
						margin: auto 0;
						margin-left: 3%;
					}
				}
			}
		}

		#info-panel {
			height: fit-content;
			width: 70%;
		}
	}

	@media only screen and (max-width: 450px) {
		#main-panels {
			height: 80%;
			width: 100%;

			#options-panel {
				width: 30%;

				#meta-sub {
					font-size: 0.8em;
				}

				#user-meta {
					#user-logo {
						height: 8vw;
						width: 8vw;
						font-size: 4.25vw;
					}

					#meta-title {
						font-size: 4vw;
					}
				}

				#option-categories {
					#info-security {
						p {
							margin-left: 7%;
							font-size: 2.5vw;
						}
					}
					#shipping-info {
						p {
							margin-left: 7%;
							font-size: 2.5vw;
						}
					}
				}
			}
			#info-panel {
				width: 65%;
			}
		}
	}
}
